<app-navbar [items] ="navbarItems" ></app-navbar>
<div class="ui hidden divider"></div>
<div class="ui container">
  <div class="ui three stackable cards">
      <div class="card" >
       <div class="image">
        <img src="/assets/images/agregar.png">
      </div>
      <div class="content">
        <a class="header" >Nombre Restaurante</a>
        <div class="meta">
          <span class="description">Informacion del restaurante</span>
        </div>
      </div>
      <div class="extra content">
        <span class="date">Otra info de restaurante</span>
      </div>
    </div>
  </div>