<app-navbar [items] ="navbarItems" ></app-navbar>
<div class="ui hidden divider"></div>
<div class="ui container" >
  <form class="ui segment ui form">
    <div class="ui field">
        <label>Name</label>
        <input type="text" name="name" placeholder="First Name" [(ngModel)] = "user.name">
      </div>
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="User name" [(ngModel)]= "user.userName">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="Email" [(ngModel)]="user.email">
      </div>
      <div class="field">
        <label>Birthdate</label>
        <input name="birthdate" class="date" placeholder="Birthdate" [(ngModel)]="user.client.birthdate" value='{{"user.client.birthdate"}}'>
      </div>
      <div class="field">
        <label>Identification</label>
        <input type="text" name="identification" placeholder="Identification" [(ngModel)]="user.client.identification">
      </div>
      <div class="field">
        <label>Phone</label>
        <input type="text" name="phone" placeholder="Phone" [(ngModel)]="user.client.phone">
      </div>
      <div class="ui fluid large teal submit button" (click)="updateClient()">Edit</div>
  </form>
 <h1>Restaurantes Favoritos</h1>
  <div class="ui three stackable cards">
      <div class="card" *ngFor="let myRestaurant of myRestaurants">
      <div class="image" *ngIf="myRestaurant['USERS.image']">
        <img src="{{myRestaurant['USERS.image']}}">   
      </div>
      <div class="content">
        <a class="header" >"{{myRestaurant["USERS.name"]}}"</a>
        <div class="meta">
          <span class="description">Informacion del restaurante</span>
        </div>
      </div>
      <div class="extra content">
        <span class="date">"{{myRestaurant["USERS.email"]}}"</span>
      </div>
    </div>
  </div>