<div class = "ui inverted vertical masthead center aligned segment">
</div>
<div class = "ui hidden divider"></div>
<div class = "ui container">
    <form class = "ui segment ui form">
        <div class = "ui field">
            <label>Nombre</label>
            <input type = "text" name = "name" placeholder = "Nombre de Restaurante">
        </div>
        <div class = "field">
            <label>Username</label>
            <input type = "text" name = "username" placeholder = "Usuario de Restaurante">
        </div>
         <div class = "field">
            <label aLignment = left>Email</label>
            <input type = "text" name = "Email" placeholder = "Email de Restaurante">
         </div>
        <div class = "field">
            <label>Password</label>
            <input type = "text" name = "Password" placeholder = "Password de Restaurante">
        </div>
        <div class = "ui button">
            <label>Commit Changes</label>
        </div> 
      </form>
 </div>
      <div class = "ui horizontal divider"> </div>
        <div class = "ui container">
          <div class = "ui three stackables cards">
            <div class="card" *ngFor="let promotion of promotions">
              <div class="image" (click) = "showModal($event)">
                <img src="{{promotion.image}}">
              </div>
              <div class="content">
                <a class="header">{{promotion.name}}</a>
                <div class="meta">
                  <span class="description">{{promotion.description}}</span>
                </div>
              </div>
              <div class="extra content">
                <span class="date">{{promotion.endDate  | date }}</span>
              </div>
            </div>
          </div>
</div>

<div class = "ui modal" id = modal1 >
  <div class = "ui inverted vertical masthead left aligned segment">
    <font size = "18"> Registro de Locales</font>
  </div>
  <div class = "ui horizontal divider"></div>
  <div class = "container">
    <div class = "ui segment ui form">
      
      <label>Nombre: </label>
      <input type = "text" name= "name" placeholder = "Nombre">
      <label>Direccion: </label>
      <input type = "text" name= "adress" placeholder = "Direccion">
      <label>Gerente: </label>
      <input type = "text" name= "manager" placeholder = "Gerente">
      <label>Telefono: </label>
      <input type = "text" name= "phone" placeholder = "Telefono">
      <div class = "ui button">Registrar Local</div>
    </div>
  </div>
</div>